<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.topcheer.dao.mobile.BusinesstypemanagerMapper" >
	<resultMap id="BusinesstypemanagerResultMap" type="com.topcheer.model.mobile.Businesstypemanager" >
       		<result property="typecode"    column="typecode" jdbcType="VARCHAR" />
       		<result property="typename"    column="typename" jdbcType="VARCHAR" />
       		<result property="remark"    column="remark" jdbcType="VARCHAR" />
       		<result property="operator"    column="operator" jdbcType="VARCHAR" />
       		<result property="operatororg"    column="operatororg" jdbcType="VARCHAR" />
       		<result property="updatedate"    column="updatedate" jdbcType="VARCHAR" />
       		<result property="updatetime"    column="updatetime" jdbcType="VARCHAR" />
       		<result property="logourl"    column="logourl" jdbcType="VARCHAR" />
	</resultMap>
    <sql id="BusinesstypemanagerColumnList" >
    		typecode,
    		typename,
    		remark,
    		operator,
    		operatororg,
    		updatedate,
    		updatetime,
    		logourl
    </sql>
    <select id="searchBusinesstypemanager" resultMap="BusinesstypemanagerResultMap" parameterType="HashMap">
    	select  * from tblbusinesstypemanager
		where 1=1
    		<if test="typecode !=null and typecode != '' ">
		    	and typecode like #{typecode,jdbcType=VARCHAR}
			</if>
    		<if test="typename !=null and typename != '' ">
		    	and typename like #{typename,jdbcType=VARCHAR}
			</if>
    		<if test="remark !=null and remark != '' ">
		    	and remark like #{remark,jdbcType=VARCHAR}
			</if>
    		<if test="operator !=null and operator != '' ">
		    	and operator like #{operator,jdbcType=VARCHAR}
			</if>
    		<if test="operatororg !=null and operatororg != '' ">
		    	and operatororg like #{operatororg,jdbcType=VARCHAR}
			</if>
    		<if test="updatedate !=null and updatedate != '' ">
		    	and updatedate like #{updatedate,jdbcType=VARCHAR}
			</if>
    		<if test="updatetime !=null and updatetime != '' ">
		    	and updatetime like #{updatetime,jdbcType=VARCHAR}
			</if>
    		<if test="logourl !=null and logourl != '' ">
		    	and logourl like #{logourl,jdbcType=VARCHAR}
			</if>
  	</select> 
  	
  	<select id="searchAll" resultMap="BusinesstypemanagerResultMap" parameterType="HashMap">
    	select * from tblbusinesstypemanager 
  	</select> 
  	
  	<insert id="insert" parameterType="com.topcheer.model.mobile.Businesstypemanager">
  	<!--
  		<selectKey resultType="String" keyProperty="typecode" order="BEFORE">  
  	 		select JNYS_SEQUENCES.NEXTVAL from dual
   		</selectKey>  
   	-->
  		INSERT INTO tblbusinesstypemanager (
    			typecode,
    			typename,
    			remark,
    			operator,
    			operatororg,
    			updatedate,
    			updatetime,
    			logourl
  		)VALUES (
    		#{typecode,jdbcType=VARCHAR},
    		#{typename,jdbcType=VARCHAR},
    		#{remark,jdbcType=VARCHAR},
    		#{operator,jdbcType=VARCHAR},
    		#{operatororg,jdbcType=VARCHAR},
    		to_char(sysdate,'yyyyMMdd'),
    		to_char(sysdate,'HH24miss'),
    		#{logourl,jdbcType=VARCHAR}
  		)
  	</insert>
  	
  	<insert id="update" parameterType="com.topcheer.model.mobile.Businesstypemanager">
  		update tblbusinesstypemanager set  
	      		typename = #{typename,jdbcType=VARCHAR}  ,
	      		remark = #{remark,jdbcType=VARCHAR}  ,
	      		operator = #{operator,jdbcType=VARCHAR}  ,
	      		operatororg = #{operatororg,jdbcType=VARCHAR}  ,
	      		updatedate = to_char(sysdate,'yyyyMMdd')  ,
	      		updatetime = to_char(sysdate,'HH24miss')  ,
	      		logourl = #{logourl,jdbcType=VARCHAR}  
  		where typecode = #{typecode,jdbcType=VARCHAR}
  	</insert>
  	
  	<delete id="delete" parameterType="String">
  		delete from tblbusinesstypemanager where typecode = #{typecode,jdbcType=VARCHAR}
  	</delete>
  	
  	<select id="getBusinesstypemanager" resultMap="BusinesstypemanagerResultMap" parameterType="String">
  		select * from tblbusinesstypemanager  where typecode = #{typecode,jdbcType=VARCHAR}
  	</select>
</mapper>