<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.topcheer.dao.BaDeptMapper" >
	<resultMap id="BaDeptResultMap" type="com.topcheer.model.BaDept" >
       		<result property="deptCode"    column="deptCode" jdbcType="VARCHAR" />
       		<result property="deptName"    column="deptName" jdbcType="VARCHAR" />
	</resultMap>
    <sql id="BaDeptColumnList" >
    		deptCode,
    		deptName
    </sql>
  	
  	<select id="searchAll" resultMap="BaDeptResultMap" parameterType="HashMap">
    	select * from ba_dept
  	</select> 

</mapper>